{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>

<link href="/static/home/css/logon.css" rel="stylesheet">
<link href="/static/home/css/bootstrap-social.css" rel="stylesheet">
 <script src="/static/home/javascript/logon.js"></script>

<div class="container">

<div class="panel panel-primary">
<div class="panel-heading"><h2 class ="text-center"><h2>Choose How to Login</h2></div>
  <div class="panel-body">
 	
	 <div class="row">
 	<div class = "col-md-12 text-center">
 	<a class="btn btnlogtype btn-social btn-lg btn-yahoo "><i class="fa fa-user"></i> Sign in with User Name</a>
 	</div>
	</div>
 		 <div class="row">
 	<div class = "col-md-12 text-center">
	 <a href="{{ url_for('login.oauth_authorize', provider='twitter') }}" class="btn btnlogtype btn-social btn-lg btn-twitter"><i class="fa fa-twitter"></i> Sign in with Twitter</a>

	</div>
	</div>

	 <div class="row">
 	<div class = "col-md-12 text-center">
	<button type="button" class="btn btnlogtype btn-social btn-reddit btn-lg btn-default "><i class="fa fa-pencil-square-o "></i> Ask a Question for Free!</button>
	</div>
	</div>

</div>
</div>
   </div>

   </body>
</html>

{% endblock %}