#overviewtable{

	margin-top: 20px;
}

.centertable td {
   text-align: center;   
}

.centertable th {
   text-align: center;   
}

.btnmod{

	display: block;
margin:auto;
}
.padded {

	padding: 6px 5px;
}

.warningmsg{

	border: 1px solid transparent;
}

.clickable:hover {

	box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,0.35);
	background-color: rgba(233, 233, 233, 0.5);
	border-radius: 5px;
	cursor: pointer;
   
}

.stattable{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px
}

.overalltable{
box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);
border-radius: 5px;
 border: 1px solid black;
padding: 5px
}

.container-fixed {
                   margin: 0 auto;
                  max-width: 1150px;
                  min-width: 1150px;
                  width: 1150px;
                }



.pointlabel{
	font-size: 18px;


}

.pointinput{
	font-size: 18px;
	max-width:70px;
	height: 36px;
	display: inline-block;
	
}

.btngroupmargin{
margin:20px;

}

.subtext{

	font-size: 14px;
}

.exportrow{
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2);
border-radius: 1px;

 padding: 5px;
 margin:10px;

}

.marginstyling{
padding: 5px;
 margin:10px;

}

#checkwarning{

	display:none;
}

#datewarning{

	display:none;
}

#pointopt{
display:none;

}

#exportbtndiv{
display:none;

}

#exporttypediv{
display:none;


}

.nojump{
border: 1px solid transparent;
padding: 1px solid transparent;
}