  .container-fixed {
                   margin: 0 auto;
                  max-width: 1150px;
                  min-width: 1150px;
                  width: 1150px;
                }


.timerpan {
  background-color: whitesmoke;
}

#roomcodediv{

    background-color: E9F1F2;

}

.folderow{

  margin-top:18px;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

	.checkField {
    width: 200px !important;
    height: 35px !important;
}

.form-control{
 min-width: 70px;
max-width: 70px;
min-height: 50px
}

input[type="number"]
{
    font-size:20px;
}

.input-group-addon{

  font-size: 20px;
}

#time{

  font-size: 60px;
}


#strbtn{
  width: 150px !important;

}

.livelabel{
    border-style: solid;
    border-width: 1px;
     border-radius: 5px;
  border-color: #0099CC;
   padding: 7px 25px;
   background-color: #0099CC;
   font-size: 20px;
   color: white;
   box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.closedlabel{
    border-style: solid;
    border-width: 1px;
     border-radius: 5px;
  border-color: #5D5D2E;
   padding: 7px 25px;
   background-color: #5D5D2E;
   font-size: 20px;
   color: white;
   box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

#endpanel {
    display: none;
    padding: 15px 0px;
}

.endbtn{
height: 40px;
font-size: 18px;
margin: 2px;
}