{% extends "base.html" %}
{% block content %}
<script type=text/javascript>
var getuserinfo_route = '{{userinfo_route}}'
var getquestions_route ='{{getquestions_route}}'
var add_room_currques_route ="{{url_for('admin.add_room_currques')}}"
var gradebookscores_route = "{{url_for('admin.gradebook_scores')}}"
var room_code = '{{room_code}}'
var resulturl = '{{resultspageurl}}'
var getroomopts_route = "{{url_for('admin.get_roomoptions')}}"
var setroomopts_route = "{{url_for('admin.set_roomoptions')}}"

</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="/static/admin/css/gradebook.css" rel="stylesheet">
<script src="/static/admin/javascript/gradebook.js"></script>
<script type="text/javascript" src="/static/admin/javascript/tablesorter/jquery.tablesorter.js"></script> 
<div class="container">	
<div class="row text-center">	
<div class="col-sm-12"><h3><b>Gradebook</b></h3></div>
</div>
<hr>
<div class="row">

<ul class="nav nav-tabs">
  <li class="active currtab"><a data-toggle="tab" href="#overview_tab"><b>Overview</b></a></li>
  <li class="selectab"><a data-toggle="tab" href="#part_tab"><b>Participation Points</b></a></li>
  <li class="selectab"><a data-toggle="tab" href="#corr_tab"><b>Correct Answer Points</b></a></li>
  <li class="selectab"><a data-toggle="tab" href="#exp_tab"><b>Export Scores</b></a></li>
</ul>

<div class="tab-content">

<!-- overview -->
<div id="overview_tab" class="tab-pane fade in active">
<div class="row" >
  <div class="col-sm-12">         
  <table class="table centertable stattable" id="overviewtable">
    <thead>
      <tr>
        <th class="sortable">First Name &nbsp <span style="display:none"><i class="fa fa-sort"></i></span></th>
        <th class="sortable">Last Name &nbsp<span style="display:none"><i class="fa fa-sort"></i></span></th>
        <th class="sortable">Total Participation Points &nbsp<span style="display:none"><i class="fa fa-sort"></i></span></th>
        <th class="sortable">Total Correct Answer Points &nbsp<span style="display:none"><i class="fa fa-sort"></i></span></th>
      </tr>
    </thead>
    <tbody id="overviewbody">
    </tbody>
  </table>
  </div>
    </div>
</div> <!-- ends overview -->

<!-- participation points -->
<div id="part_tab" class="tab-pane fade">
<div class="container-fixed">
<br>
<div class="form-group">
   

        <div class="form-inline">

            <div class="form-group">

               <label for="partinput" class="pointlabel">Points for Participation:&nbsp</label>
              <input type="number" class="form-control pointinput input-md" min = "1" id="partinput"> 
        </div>
    </div>
</div>
<hr>
<!-- header rows -->
<div class=" row overalltable">

<div class="col-xs-3" style="margin:0px; padding:0px "> 
<table class="table centertable stattable" >
 <thead><tr><th  style="height:100px">First Name <br></th>
<th  style="height:100px">Last Name <br></th> </tr>
 </thead>
 </table>
</div>

<div class="col-xs-9" style="margin:0px; padding:0px ">
<div class="overflowtable headeroverflow"  style="width:855px;"  id = "partheaderoverflow">
 <table class="table centertable stattable gradetable2" style="table-layout:fixed; " id="participationtable2">
 <thead style="width:855px;"  id="participationheader">
 </thead>
 </table>
</div>
</div>


<!-- data table -->

<div class="col-xs-3" style="margin:0px; padding:0px ">
  <div class="overflowtable nameoverflow" style="height:480px;" id="partnameoverflow">
<div class="row">
  <div class="col-sm-12"> 

  <table class="table centertable stattable" id="participationtablenames" >
    <tbody id="participationnamesbody" >
    </tbody>
  </table>
  </div>
    </div>
</div>
</div>

<div class="col-xs-9" style="margin:0px; padding:0px ">
<div class="overflowtable" style="height:500px; " id="partoverflow">
<div class="row">
  <div class="col-sm-12">         
  <table class="table centertable stattable gradetable" style="table-layout:fixed;" id="participationtable">
    <tbody id="participationbody" >
    </tbody>
  </table>
  </div>
    </div>
</div>
</div>

</div>
</div>
<br><br><br><br><br><br><!-- ends participation points -->
</div>







<!-- correct answer points tab-->
<div id="corr_tab" class="tab-pane fade">
<div class="container-fixed">
<br>
<div class="form-group">
   

        <div class="form-inline">

            <div class="form-group">

               <label for="corrinput" class="pointlabel">Points for Correct Answer:&nbsp</label>
              <input type="number" class="form-control pointinput input-md" min = "1" id="corrinput"> 
        </div>
    </div>
</div>
<hr>
<!-- header rows -->
<div class=" row overalltable">

<div class="col-xs-3" style="margin:0px; padding:0px "> 
<table class="table centertable stattable" >
 <thead><tr><th  style="height:100px">First Name <br></th>
<th  style="height:100px">Last Name <br></th> </tr>
 </thead>
 </table>
</div>

<div class="col-xs-9" style="margin:0px; padding:0px ">
<div class="overflowtable headeroverflow"  style="width:855px;"  id = "corrheaderoverflow">
 <table class="table centertable stattable gradetable2" style="table-layout:fixed; " id="corranstable2">
 <thead style="width:855px;"  id="corransheader">
 </thead>
 </table>
</div>
</div>


<!-- data table -->

<div class="col-xs-3" style="margin:0px; padding:0px ">
  <div class="overflowtable nameoverflow" style="height:480px;" id="corrnameoverflow">
<div class="row">
  <div class="col-sm-12"> 

  <table class="table centertable stattable" id="corranstablenames" >
    <tbody id="corransnamesbody" >
    </tbody>
  </table>
  </div>
    </div>
</div>
</div>

<div class="col-xs-9" style="margin:0px; padding:0px ">
<div class="overflowtable" style="height:500px; " id="corransoverflow">
<div class="row">
  <div class="col-sm-12">         
  <table class="table centertable stattable gradetable" style="table-layout:fixed;" id="corranstable">
    <tbody id="corransnbody" >
    </tbody>
  </table>
  </div>
    </div>
</div>
</div>

</div>
</div>
<br><br><br><br><br><br>
</div> <!-- End correct answer points  -->

</div><!--   Ends tabs -->


</div> 

 

</div>  <!-- ends overall container -->



{% endblock %}