{% extends "base.html" %}
{% block content %}
<script type=text/javascript>
var getuserinfo_route = '{{userinfo_route}}'
var getquestions_route ='{{getquestions_route}}'
var add_room_currques_route ="{{url_for('admin.add_room_currques')}}"
</script>
<link href="/static/admin/css/gradebook.css" rel="stylesheet">
<script src="/static/admin/javascript/gradebook.js"></script>
<div class="container">	
<div class="row text-center">	
<div class="col-sm-12"><h2>Gradebook</h2></div>
</div>
<hr>
<div class="row">

<ul class="nav nav-tabs">
  <li class="active currtab"><a data-toggle="tab" href="#overview_tab"><b>Overview</b></a></li>
  <li class="selectab"><a data-toggle="tab" href="#part_tab"><b>Participation Points</b></a></li>
  <li class="selectab"><a data-toggle="tab" href="#corr_tab"><b>Correct Answer Points</b></a></li>
  <li class="selectab"><a data-toggle="tab" href="#exp_tab"><b>Export Scores</b></a></li>
</ul>

<div class="tab-content">

<!-- overview -->
<div id="overview_tab" class="tab-pane fade in active">
<div class="row ">

  <div class="col-sm-12">         
  <table class="table centertable" id="overviewtable">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Total Participation Points</th>
        <th>Total Correct Answer Points</th>
      </tr>
    </thead>
    <tbody>
    <tr>
    <td><div class="ifield"><div class = "clickable padded">Adam</div></div></td>
    <td><div class="ifield"><div class = "clickable padded">Blalock</div></td>
    <td><div class = "padded">14</div></td>
     <td><div class = "padded">20</div></td>
   	</tr>
 <tr>
    <td><div class = "clickable padded">Adam</div></td>
    <td><div class = "clickable padded">Blalock</div></td>
    <td><div class = "padded">14</div></td>
     <td><div class = "padded">20</div></td>
   	</tr>

    </tbody>
  </table>
  </div>

    </div>
</div>

<!-- participation points -->
<div id="part_tab" class="tab-pane fade">
  <div>Partic</div>
  </div>

<!-- correct answer points -->
<div id="corr_tab" class="tab-pane fade">
  <div>Correct</div>
  </div>


</div><!-- 	Ends tabs -->
</div>	
</div>



{% endblock %}