{% extends "base.html" %}
{% block content %}

<script type=text/javascript>
var room_code = '{{room_code}}'
var getroomroute = "{{url_for('admin.lookup_by_roomcode')}}"
var getuserinfo_route = "{{url_for('admin.getuserinfo')}}"
var getquestions_route ="{{url_for('admin.getquestions')}}"
var add_room_currques_route ="{{url_for('admin.add_room_currques')}}"
var getquesbyid_route = "{{url_for('admin.lookup_by_qid')}}"
</script>

<link href="/static/admin/css/live_question_controlpanel.css" rel="stylesheet">
<script src="/static/admin/javascript/live_question_controlpanel.js"></script>
<div class="container">	

<div class="row">
<div class = "col-md-6">
<h2>Question Control Panel</h2>
</div>
<div class = "col-md-4 pull-right" id="roomcodediv">
<h2 class= "text-center">Room Code: <b>{{ room_code }}</b></h2>
</div>
</div>

<hr>
<div class="row">
<div class = "col-md-8">
<ul class="nav nav-tabs">
  <li class="active currtab"><a data-toggle="tab" href="#home"><b>Current Question</b></a></li>
  <li class="selectab"><a data-toggle="tab" href="#menu1"><b>Select Next Question</b></a></li>
</ul>


<div class="tab-content">

<!-- slide down panel -->
<div class="panel" id="endpanel">
<div class="container"> 
<div class="row">
<div class = "col-md-3">
<a href="#" class="btn btn-success btn-block endbtn" id="nextbtn" role="button">Start Next Question</a>
<!-- <button class="btn btn-primary btn-block endbtn" id='nextbtn'>Start Next Question</button> -->
</div>
<div class = "col-md-3">
<button class="btn btn-info btn-block endbtn" id='restartbtn'>Restart Question</button>
</div>
</div>
</div>
</div>

	<!-- current question tab -->
  <div id="home" class="tab-pane fade in active">
	<div  id="currentquestion"></div>
  </div>

  <!-- Selection question tab -->
  <div id="menu1" class="tab-pane fade">
 <div class="row folderow">  
<div class="col-md-4"><h4 class="pull-right">Change Next Question:</h4></div>
<div class="col-md-8">
<div class="dropdown text-center pull-left">
 <button class="btn checkField btn-primary dropdown-toggle text-center" type="button" id="folderdrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon test glyphicon-folder-open" aria-hidden="true"></span>
    <span id="foldericon">Select Folder</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu text-center" id="folderselect" aria-labelledby="folderdrop">
  </ul>
</div>
</div>
</div>

<hr>

<!-- display questions in folder -->
<div class="container">	
	<div class="row">
<div id="nextquestion"></div>
<div class = "col-md-8 text-center"><h2 id="foldertitle"></h2>
</div>
</div>

<p>
<div class="row">
<div class = "col-md-8">
<div  id="result"></div>
<p>
</div>
</div>
</div>



  </div><!--  ends selection tab -->
 
</div> <!-- ends all tabs -->

</div><!-- ends question column -->


<!-- question settings -->
<div class = "col-md-4">
<div class="panel panel-primary">
<div class="panel-heading"><h4 class ="text-center"><h4>Question Settings</h2></div>
<div class="panel-body">

<div class="well">
<div class="row">
<div class="col-md-12">
<div><h1 class = "text-center" id="time">0:00</h1></div>
</div>
</div>
<div class=" timerpan">
<hr>

<div class="row">

<div class ="col-xs-6">
<div class="input-group">
  <span class="input-group-addon" >min</span>
  <input type="number" class="form-control timeinput" id="minutes" min="0" aria-describedby="minutes">
  
</div>
</div>

<div class ="col-xs-6">
<div class="input-group">
 <span class="input-group-addon" >sec</span>
  <input type="number" class="form-control timeinput" id="seconds" min="0" aria-describedby="seconds">
   
</div>
</div>
</div>

<hr>
<div class="row">
<div class ="col-xs-6 btncol">
<button class="btn btn-primary btn-lg start" id='strbtn'>Start Timer</button>
</div>
<div class ="col-xs-6">
<button class="btn btn-success btn-lg pull-right" id='resetbtn'>Reset</button>

</div>
</div>

</div>


</div> <!-- first well -->
<div class="well">
<div class="row">
<div class ="col-xs-12">
<button class="btn btn-danger btn-block btn-lg" id='endbtn'>End Question</button>
</div>
</div>
</div>


</div>


</div>
</div>

</div>

</div>
</div>
</div>
</div>
</div>

</div>
</div>


{% endblock %}