{% extends "base.html" %}
{% block content %}
<script type=text/javascript>
var getuserinfo_route = '{{userinfo_route}}'
var getquestions_route ='{{getquestions_route}}'
var add_room_currques_route ="{{url_for('admin.add_room_currques')}}"
</script>
<link href="/static/admin/css/create_question.css" rel="stylesheet">
<link href="/static/admin/css/select_question.css" rel="stylesheet">
<script src="/static/admin/javascript/select_question.js"></script>
<h2><b>Question Folder<b2></h2>
<div class="row">
<div class = "col-md-12 text-center">
<div class="dropdown text-center dropspace">
 <button class="btn checkField btn-primary dropdown-toggle text-center" type="button" id="folderdrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon test glyphicon-folder-open" aria-hidden="true"></span>
    <span id="foldericon">Select Folder</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu text-center" id="folderselect" aria-labelledby="folderdrop">
  </ul>
</div>
</div>


</div>
</div>


<hr>
<div class="container">	
	<div class="row">
<div class = "col-md-12 text-center"><h2 id="foldertitle"></h2>
</div>
</div>

<p>

<div class="container">	
<div class="row">
<div class = "col-md-12">
<div  id="result"></div>
<p>
</div>
</div>
</div>



{% endblock %}