{% extends "base.html" %}
{% block content %}

<link href="/static/CreateQuestion_CSS.css" rel="stylesheet">
<link href="/static/SelectQuestion_CSS.css" rel="stylesheet">
<script src="/static/SelectQuestion_script.js"></script>
<h2>Question Selection</h2>
<p>
<div class="container">	
<div class="row">
<div class = "col-md-12">
<div id="btns"></div>


<p>
</div>
</div>
</div>


<div class="container">	
<div class="row">
<div class = "col-md-12">
<div  id="result"></div>
<p>
</div>
</div>
</div>



{% endblock %}