{% extends "base.html" %}
{% block content %}
<link href="/static/studentroom/css/live_question_room.css" rel="stylesheet">
<link rel="stylesheet" href="http://css-spinners.com/css/spinner/hexdots.css" type="text/css">
<script src="/static/studentroom/javascript/live_question_room.js"></script>
<script type=text/javascript>
var room_code = '{{room_code}}'
var pass_code = '{{pass_code}}'
var getroomroute = "{{url_for('admin.lookup_by_roomcode')}}"
var eventsource_route = '{{serverurl|safe}}'
var studentans_route = "{{url_for('studentroom.add_studentans')}}"
</script>

<div class="container">	
<div class="row">
<div class="col-sm-12">

</div>
<div class = "col-md-12">
<div  id="currentquestion"></div>
</div>



</div>


<br><br><br><br><br><br>
<div class="row">
<h4 class="text-center smsg successmsg" id="successmsg">Answer Submitted!</h4>
<h4 class="text-center endmsg" id="bendmsg">Question Ended</h4>
</div>
<div class="smsg text-center successmsg" id="answertxt">You chose <b>Answer <span id="ansselctmsg">1</span></b></div>
<div class="row">
<img src="/static/studentroom/javascript/check.png" class="smsg" style="width:128px;height:128px;" align="middle" id="checkimg">
</div>
<div class="row">
<br><div class="endmsg timer" id="pendmsg">waiting for next question to begin</div>
<h1><div class="glyphicon glyphicon-hourglass endmsg timer" aria-hidden="true"></div></h1>
</div>
</div>

 {% endblock %}