{% extends "base.html" %}
{% block content %}
<link href="/static/studentroom/css/live_question_room.css" rel="stylesheet">
<script src="/static/studentroom/javascript/live_question_room.js"></script>
<script type=text/javascript>
var room_code = '{{room_code}}'
var getroomroute = "{{url_for('admin.lookup_by_roomcode')}}"
var eventsource_route = '{{serverurl|safe}}'
console.log(eventsource_route)
</script>

<div class="container">	
<div class="row">
<div class = "col-md-12">

<div  id="currentquestion"></div>

</div>
</div>
</div>


 {% endblock %}