{% extends "base.html" %}
{% block content %}

<link href="/static/CreateQuestion_CSS.css" rel="stylesheet">
<script src="/static/SelectQuestion_script.js"></script>
<h2>Question Selection</h2>
<p>
<div class="container">	
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Test Folder
</button>
<p>
</div>


<div class="container">	
<div class="row">
<div class = "clearfix" id="result"></div>
</div>
</div>



{% endblock %}